#InsumosOT_ID_CCC {
	width: 90%;
}

#InsumosOT_ID_SCC {
	width: 90%;
}

#InsumosOT_ID_SEC {
	width: 90%;	
}

#InsumosOT_ID_CENTRO_COSTO {
	width: 90%;
}

#tabla_items {
	margin-left: -12px;
}

.contratista {
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	padding-left: 10px;
	padding-top: 5px;
}

.contratista_final {
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding-left: 10px;
	padding-top: 5px;
}

.formularios_rec {
	/*border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;*/
}

.formularios_rec div {
	padding-left: 10px;
	padding-top: 5px;
}

.recepcion_tabla {
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.mod_insumo {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}